/packages/**/node_modules
/packages/**/.wrangler
/packages/**/.dev.vars
/packages/**/dist

# yarn 3
/packages/**/.pnp.*
/packages/**/.yarn/*
/packages/**/!.yarn/releases
/packages/**/!.yarn/sdks
/packages/**/!.yarn/versions